.Footer {
	margin-top: 40px;

	&-copyright {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-start;

		&-text {
			width: auto;
			color: lightgray;
			font-size: 12px;
		}
	}

	&-socialNets {
		display: flex;
		justify-content: flex-end;

		.socialnets {
			margin: 0px 5px 0px 5px; 
		}
	}

	.button-block {
		overflow: hidden;
		display: flex;
		justify-content: center !important;

		.Button {
			border-radius: 50% 50% 0 0 / 100% 100% 0 0;
			width: 50px;
			height: 25px;
			background: black;
			color: white;
			border: 0px;
		}
	}
}
