.flickr-gallery-container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
  align-items: space-around; }

.flickr-gallery-block:nth-child(1) {
  background: #E8820C; }

.flickr-gallery-block:nth-child(2) {
  background: #FFF687; }

.flickr-gallery-block:nth-child(3) {
  background: #FF0000; }

.flickr-gallery-block:nth-child(4) {
  background: #820CE8; }

.flickr-gallery-block2:nth-child(1) {
  background: #0D7AFF; }

.flickr-gallery-block2:nth-child(2) {
  background: #22FF1C; }

.flickr-gallery-block2:nth-child(3) {
  background: #61E8C9; }

.flickr-gallery-block2:nth-child(4) {
  background: #FCFF52; }

.flickr-gallery-block:nth-child(1),
.flickr-gallery-block:nth-child(2),
.flickr-gallery-block:nth-child(3),
.flickr-gallery-block:nth-child(4) {
  width: 30px;
  height: 50px;
  margin: 0px 10px 5px 10px; }

.flickr-gallery-block2:nth-child(1),
.flickr-gallery-block2:nth-child(2),
.flickr-gallery-block2:nth-child(3),
.flickr-gallery-block2:nth-child(4) {
  width: 30px;
  height: 50px;
  margin: 5px 10px 0px 10px; }
